.logoPart {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  .logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    span {
      font-size: 2rem;
      font-weight: bolder;
      margin-right: 0.3rem;
    }
  }
  input {
    position: relative;
    left: 1rem;
    width: 9rem;
    height: 2rem;
    padding-left: 0.5rem;
  }
  .search {
    position: relative;
    right: 0.8rem;
    padding-left: 0.1rem;
  }
  button {
    font-family: "Tahoma", sans-serif;
    font-size: 17px;
    font-weight: normal;
    width: 10rem;
    background-color: $blue-bcg-color;
    color: #ffffff;
    border-radius: 0.3rem;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: none;
    outline: 0;
    border: none;
    position: relative;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center; 
  ul {
    display: flex;
  }
  li {
    margin: 2rem 1rem 1rem 0.5rem;
    padding-right: 1rem;
    border-right: 1px solid grey;
    font-family: 'Raleway', sans-serif;
    &:first-child {
      margin-left: 1.2rem;
    }
    a {
      color: #272727;
    }
  }
  span {
    margin: 2rem 0 1rem 0;
    font-family: 'Times New Roman', sans-serif;
    font-size: 1.5rem;
  }
}

hidden {
  visibility: hidden;
}